.view {
    background: no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: rgb(255, 255, 255);
    padding-top: 4px!important;
    padding-bottom:4px!important;
}

.top-nav-collapse {
    background-color: rgb(255, 255, 255)!important;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: rgb(255, 255, 255);
    }
}

html,
body,
header,
.view {
  height: 100%;
}

.logo-area{
    width: 250px;
    height: 45px;
    position: absolute center;
}

.headimg{
    background: no-repeat center center;
    size: cover ;
    height: 100vh;

}
