.view {
    background: no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: rgb(255, 255, 255);

}

.top-nav-collapse {
    background-color: rgba(0, 0, 0, 0.95)!important;
    color: #fff!important;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: rgb(255, 255, 255);
        
    }
    
}

html,
body,
header,
.view {
  height: 100%;
}

.logo-area{
    width: 250px;
    height: 45px;
    position: absolute center;
}

.headimg{
    background: no-repeat center center;
    size: cover ;
    height: 100vh;

}


.map-container-section {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container-section iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }